<app-navbar></app-navbar>
<div class="about-container">
    <mat-card class="contact-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Nftme</mat-card-title>
            <mat-card-title><h4>A place to find, collect, trade, and sell NFT’s</h4></mat-card-title>
          </mat-card-title-group>
          <img mat-card-md-image src="../../../assets/images/nftlogo2.png"  alt="Nftme Logo">
        </mat-card-header>
        <mat-card-content>
            <h4></h4>
            <p>This is an interactive website that allows users to purchase NFT’S with crypto currency</p>
            <p><a href="https://www.github.com/CayleeMae/NFTme">NFTme GitHub</a></p>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>