<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <a><h4>About</h4></a>
      </div>

      <div class="footer-col">
        <a><h4>Contact</h4></a>
        <!-- <h4>Created By:</h4> -->
        <!-- <ul>
          <li>Caylee</li>
          <li><a href="https://www.github.com/NFTme/NFTme">GitHub Link</a></li>
          <li>Kia</li>
          <li><a href="https://www.github.com/NFTme/NFTme">GitHub Link</a></li>
          <li>Aj</li>
          <li><a href="https://www.github.com/NFTme/NFTme">GitHub Link</a></li>
          <li>Nick</li>
          <li><a href="https://www.github.com/NFTme/NFTme">GitHub Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
      </div>
    </div>
  </div>
</footer>
