<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>NFTme</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quo
          voluptate sapiente error est. Fugiat asperiores, reiciendis nemo
          incidunt nam exercitationem qui est sit quasi suscipit. Reprehenderit
          eos ullam non.
        </p>
      </div>

      <div class="footer-col">
        <h4>Created By:</h4>
        <ul>
          <li>Caylee</li>
          <li>Kia</li>
          <li>Aj</li>
          <li>Nick</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
