<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFTme</title>
</head>

<body>
    <div class="login_page">
        <div class="login_container">
            <div class="login_container_image">
                <img src="assets/images/crypto.jpg" alt="" class="login_container_background_img">
            </div>
            <div class="login_container_form">
                <div class="login_form_logo">
                    <img src="" alt="">
                </div>
                <div class="login_form_webpage_name">
                    <img src="assets/images/nftme-high-res-logo.png" alt="" class="nftme_logo_img">
                    <h1>LOGIN</h1>
                </div>
                <div class="username_field">
                    <input type="text" placeholder="UserName">
                </div>
                <div class="password_field">
                    <input type="password" placeholder="Password">
                </div>
                <div class="login_button">
                    <button>Login</button>
                </div>
                <div class="forgot_password_button">
                    <button>Forgot Password</button>
                </div>
                <div class="signup_button">
                    <button>Sign Up</button>
                </div>
            </div>
        </div>
        <img src="assets/images/crypto_background.jpg" alt="" class="login_page_background_img">
    </div>


</body>

</html>