<mat-toolbar>
  <img
    src="../../../assets/images/nftlogo2.png"
    alt="Logo"
    height="36"
    class="nft-logo"
  />
  <span><a href="/shop" class="nav-logo-text">NFTme</a></span>
  <div class="spacer"></div>
  <a mat-button (click)="router.navigate(['/shop'])">Shop</a>
  <mat-icon>shopping_cart</mat-icon>
  <div id="cartAmount" class="cartAmount">0</div>
  <a mat-button (click)="router.navigate(['/checkout'])">Check Out</a>

  <a mat-raised-button (click)="router.navigate(['/'])" color="black"
    >Sign Out</a
  >
</mat-toolbar>
