body {
    height: 100%;
    width: 100%;
}

.confirmation_page {
    display: flex;
    justify-content: center;
}


.confirmation_form {
    width: 40em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    color: rgb(11, 11, 43);
    background-color: rgb(16, 143, 136);
}