<div *ngIf="page === 'login'" class="login_container_form">
    <div class="login_form_logo">
        <!-- <img src="assets/images/NFTme_LOGO.png" alt="" /> -->
    </div>
    <div class="login_form_webpage_name">
        <!-- <img src="assets/images/nftme-high-res-logo.png" alt="" class="nftme_logo_img" /> -->
        <h1>LOGIN</h1>
    </div>
    <div class="username_field">
        <input type="text" class="login_fields" placeholder="UserName" />
    </div>
    <div class="password_field">
        <input type="password" class="login_fields" placeholder="Password" />
    </div>
    <div class="login_button">
        <button>Login</button>
    </div>
    <!-- <div class="forgot_password_button">
        <button>Forgot Password</button>
    </div> -->
    <!-- <div class="signup_button">
        <button>Sign Up</button>
    </div> -->
</div>

<div *ngIf="page === 'checkout'" class="checkout_container_form">
    <div class="checkout_form">
        <div class="checkout_form_close">
            <button (click)="CloseModal()">X</button>
        </div>
        <h1>Scan QR Code to Sign in to your <a href="https://www.coinbase.com/wallet" class="">Coinbase Wallet</a></h1>
        <div class="qrcode_img"><img src="assets/images/coinbase_QR_code.PNG" alt=""></div>
    </div>
</div>