.login_container_form {
    display: flex;
    flex-direction: column;
    width: 35em;
    height: 30em;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    gap: .5em
}

img {
    size: 10em;
}

.login_form_webpage_name {
    display: flex;
    font-size: 20px;
}

.login_fields {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkout_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40em;
    height: 20em;
    border-radius: none;
    margin-left: 1em;
    margin-right: 1em;

    &_close { 
        margin-bottom: 237px;
        margin-top: 5em;
    }
}

.left_side_checkout_login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

    
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #0000EE;
}


h1.coinbase_link {
    padding: .5em;
    
}


.order_detail_form {
    width: 30em;
    height: 20em;
}