<div [formGroup]="modalForm" *ngIf="page === 'login'" class="login_container_form">
    <div class="login_form_logo">
        <!-- <img src="assets/images/NFTme_LOGO.png" alt="" /> -->
    </div>
    <div class="login_form_webpage_name">
        <!-- <img src="assets/images/nftme-high-res-logo.png" alt="" class="nftme_logo_img" /> -->
        <h1>LOGIN</h1>
    </div>
    <div class="username_field">
        <input formControlName="username" type="text" class="login_fields" placeholder="Username" />
    </div>
    <div class="password_field">
        <input formControlName="userpassword" type="password" class="login_fields" placeholder="Password" />
    </div>
    <div class="login_button">
        <button (click)="close()" [routerLink]="['/shop']">Log In</button>
    </div>
    <div class="forgot_password_button">
        <button>Forgot Password</button>
    </div>
    <div class="signup_button">
        <button>Sign Up</button>
    </div>
</div>

<div *ngIf="page === 'checkout'" class="checkout_container_form">
    <div class="checkout_form">
        <div class="checkout_form_close">
            <button (click)="CloseModal()">X</button>
        </div>
        <div class="left_side_checkout_login_form">
            <div class="username_field">
                <input type="text" class="login_fields" placeholder="UserName" />
            </div>
            <div class="password_field">
                <input type="password" class="login_fields" placeholder="Password" />
            </div>
            <div class="login_button">
                <button (click)="signIn()">Log In</button>
            </div>
            <h1 class="coinbase_link">Scan QR Code to Sign in to your <a href="https://www.coinbase.com/wallet"
                    class="">Coinbase
                    Wallet</a>
            </h1>
        </div>
        <div class="qrcode_img"><img src="assets/images/coinbase_QR_code.PNG" alt=""></div>
    </div>
</div>


<div *ngIf="page === 'order_detail'" class="order_detail_form">
    <div class="order_detail_form">
        <h1>Order Detail</h1>
        <div class="checkout_form_close">
            <button (click)="CloseModal()">Close</button>

            <div class="bitcoin_balance">
                <h1>Bitcoin Balance: 5 BTC</h1>
                <h1>Purchase Amount: 2 BTC</h1>
            </div>
            <button (click)="CloseModal()" [routerLink]="['/confirmation']">Continue with Purchase</button>
        </div>
    </div>
</div>