<app-navbar></app-navbar>
<div class="shop">
  <div class="shop_side-nav">
    <mat-form-field appearance="fill">
      <mat-label>Catgory</mat-label>
      <mat-select>
        <mat-option>
          Animals
        </mat-option>
        <mat-option>
          Art
        </mat-option>
        <mat-option>
          Nature
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <mat-select>
      <mat-option>
        1-5 bitcoins
      </mat-option>
      <mat-option>
        6-10 bitcoins
      </mat-option>
      <mat-option>
        11-20 bitcoins
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
</div>
<div class="flex-container">
  <div class="collection">
    <div *ngFor="let nft of nfts">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="{{ nft.nftimg }}"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
          </div>
          <div class="flip-card-back">
            <h1>{{ nft.name }}</h1>
            <p>{{ nft.description }}</p>
            <p>{{ nft.price }}</p>
            <button>Buy Now</button>
            <button>Favorite</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-center w3-padding-32">
  <div class="w3-bar">
    <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
    <a href="#" class="w3-bar-item w3-black w3-button">1</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
  </div>
</div>
<app-footer></app-footer>