.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border-radius: 4%;
  position: relative;
  overflow: hidden;
  border: solid;
  border-color: white;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  border: groove;
  border-color: black;
  border-radius: 4%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.base-flex {
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 258px;
  margin-right: 215px;
  justify-content: space-between;
  padding: 4em;
  margin: 15em;
  margin-top: 5em;
  gap: 75px;
  border-radius: 50em;
}
.w3-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.1em;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1em;
}
.shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 2em;
  margin-top: 0.5em;

  &_side-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18%;
    margin-right: em;
    padding: 1em 1em;
    position: absolute;
    left: 0;
    background: transparent;
    height: 125em;
    border-radius: 10px;
    width: 13%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    gap: 1.5em;
    margin-top: 8em;
  }
}

mat-icon {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.1em 1em;
  flex-direction: column;
  cursor: pointer;
}
