/*.login_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  width: 40em;
  height: 40em;
  display: flex;
  // position: relative;
  z-index: 3;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.login_container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.login_container_background_img {
  width: 50em;
  height: 40em;
  z-index: 2;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_page_background_img {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

button {
  background-color: lightgrey;
  border: 1px black solid;
  border-radius: 1em;
  width: 11em;
  font-size: large;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

// button:hover {
//   cursor: pointer;
// } 
*/

.box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 420px;
  padding: 4em;
  margin-left: 41em;
  margin-top: 13em;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 5px 5px 15px 5px #ff616b, -7px -5px 15px 5px #8cff85,
    12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #45f3ff,
    -10px 10px 15px 7px #ff616b,
    inset -50px -18px 50px -23px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 5px #8cff85, -7px -5px 15px 5px #8cff85,
    12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #45f3ff,
    -10px 10px 15px 7px #de6b2b,
    inset -50px -18px 50px -23px rgba(0, 0, 0, 0.16);
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50;
  width: 3800px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}

.form h1 {
  color: #45f3ff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}


.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

button:hover {
  cursor: pointer;
}

button {
  height: 2em;
  width: 7em;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #5CA4EA;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: .5em ;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
  border-radius: .5em;
}

.btn:hover svg {
  stroke-dashoffset: -480;
  border-radius: .5em;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}