<div class="box">
  <div class="form">
    <div class="login_page">
      <!-- <div class="login_container">
        <button (click)="openModal()">ENTER</button>
      </div>
    </div> -->

      <div class="login_container_form">
        <div class="login_form_logo">
          <img src="../../../../nftmelogo/nftmelogo.png" alt="" />
        </div>

        <div class="login_form_webpage_name">
          <h1>Welcome to NFTme</h1>
          <img src="" alt="" />
        </div>
        <div class="login_container">
          <button (click)="openModal()">ENTER</button>
        </div>
        <!-- <div class="inputBox">
        <input type="text" required="required" />
        <span>Username</span>
        <i></i>
      </div> -->
        <!-- <div class="inputBox">
        <input type="password" required="required" />
        <span>Password</span>
        <i></i>
      </div> -->
        <!-- <div class="login_button"></div>
      <div class="forgot_password_button"></div>
      <div class="signup_button"></div> -->
      </div>
    </div>
  </div>

  <!-- <div class="login_page">
  <div class="login_container">
    <div class="login_container_image">
      <img
        src="assets/images/crypto.jpg"
        alt=""
        class="login_container_background_img"
      />
    </div>
    <button (click)="openModal()">Log In</button>
  </div>
  <img
    src="assets/images/crypto_background.jpg"
    alt=""
    class="login_page_background_img"
  />
</div>
<img
  src="assets/images/crypto.jpg"
  alt=""
  class="login_container_background_img"
/>
<div class="login_container_form">
  <div class="login_form_logo">
    <img src="" alt="" />
  </div>
  <div class="login_form_webpage_name">
    <img
      src="assets/images/nftme-high-res-logo.png"
      alt=""
      class="nftme_logo_img"
    />
    <h1>LOGIN</h1>
  </div>
  <div class="username_field">
    <input type="text" placeholder="UserName" />
  </div>
  <div class="password_field">
    <input type="password" placeholder="Password" />
  </div>
  <div class="login_button">
    <button>Login</button>
  </div>
  <div class="forgot_password_button">
    <button>Forgot Password</button>
  </div>
  <div class="signup_button">
    <button>Sign Up</button>
  </div>
</div>
<img
  src="assets/images/crypto_background.jpg"
  alt=""
  class="login_page_background_img"
/>
--></div>
