<app-navbar></app-navbar>
<h1 class="cart-Title">Shopping Cart</h1>
<div class="container">
  <div class="backShop_Button">
    <button class="btn" onclick="history.back()">
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Back to Shop</span>
    </button>
  </div>
</div>
<div class="cards_container">
  <div class="matt-card-container2">
    <mat-card class="example-card2">
      <mat-card-header>
        <mat-card-title>Order Summary</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="nfts.length === 0">Your cart is Empty</div>
        <div class="product-card" *ngFor="let nft of nfts; index as i">
          <button class="remove_btn"(click)="removeFromCart(i)">X</button>
          <div class="card">
            <div class="img-box">
              <img
                [src]="nft.nftimg"
                alt="NFT1"
                width="80px"
                class="product-img"
              />
            </div>
            <div class="detail">
              <h3 class="product-name">{{ nft.title }}</h3>
              <p>{{ nft.info }}</p>
              <div class="wrapper">
                <div class="price">
                  <span id="price">{{ nft.price }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="nfts.length > 0" class="wrapper">
          <div class="amount">
            <div class="totalAmount">
              <span class="order_Total">Order Total: </span> <span>3 BTC</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matt-card-container">
    <mat-card class="payment-card">
      <mat-card-actions class="mdc-card_actions">
        <h2>Sign Into Your Crypto Wallet</h2>
        <button (click)="openModal()" class="coinbase_Logo">
          <div>
            <img
              alt=""
              height="30px"
              src="https://static.opensea.io/logos/walletlink-alternative.png"
              size="24"
            />
          </div>
          <div>
            <span font-weight="700" font-size="14px">Coinbase Wallet</span>
          </div>
        </button>
        <button class="coinbase_Logo">
          <div>
            <img
              alt=""
              height="30px"
              src="https://static.opensea.io/logos/walletconnect-alternative.png"
              size="24"
            />
          </div>
          <div>
            <span font-weight="700" font-size="14px">MetaMask</span>
          </div>
        </button>
        <button class="coinbase_Logo">
          <div>
            <img
              alt=""
              height="30px"
              src="../../../assets/images/bitkeepicon.png"
              size="24"
            />
          </div>
          <div>
            <span font-weight="700" font-size="14px">BitKeep</span>
          </div>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
