<app-navbar></app-navbar>
<h1 class="cart-Title">Shopping Cart</h1>
<input type="button" value="Back to Shop" onclick="history.back()"/> 
<div class="cards_container_all">
  <div class="matt-card-container2">
    <mat-card class="example-card2">
      <mat-card-header>
        <mat-card-title>Order Summary</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="product-card">
          <div class="card">
            <div class="img-box">
              <img src="../../../assets/nfts/Image 1-17-23 at 6.25 PM.jpg" alt="NFT1" width="80px"
                class="product-img" />
            </div>
            <div class="detail">
              <h4 class="product-name">Description: Colorful NFT</h4>
              <div class="wrapper">
                <div class="price">$ <span id="price">1.25</span></div>
              </div>
            </div>
            <button class="product-close-btn"></button>
          </div>
        </div>
        <div class="product-card">
          <div class="card">
            <div class="img-box">
              <img src="../../../assets/nfts/Image 1-17-23 at 6.26 PM.jpg" alt="NFT2" width="80px"
                class="product-img" />
            </div>

            <div class="detail">
              <h4 class="product-name">Description: Neon Color NFT</h4>

              <div class="wrapper">
                <div class="price">$ <span id="price">0.80</span></div>
              </div>
            </div>

            <button class="product-close-btn"></button>
          </div>
        </div>

        <div class="wrapper">
          <div class="amount">
            <div class="subtotal">
              <span>Subtotal</span>
              <span>$ <span id="subtotal">2.05</span></span>
            </div>

            <div class="tax">
              <span>Tax</span> <span>$ <span id="tax">0.10</span></span>
            </div>

            <div class="total">
              <span>Total</span> <span>$ <span id="total">2.15</span></span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matt-card-container">
    <mat-card class="payment-card">
      <mat-card-header>
        <mat-card-title>Payment Details</mat-card-title>
        <mat-card-subtitle>Payment Method</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="mdc-card_actions">
        <button mat-button>Sign In to Crypto Wallet</button>
        <button (click)="openModal()" class="coinbase_Logo">
          <div>
            <img alt="" height="30px" src="https://static.opensea.io/logos/walletlink-alternative.png" size="24" />
          </div>
          <div>
            <span font-weight="700" font-size="14px">Coinbase Wallet</span>
          </div>
        </button>
        <button class="coinbase_Logo">
          <div>
            <img alt="" height="30px" src="https://static.opensea.io/logos/walletconnect-alternative.png" size="24" />
          </div>
          <div>
            <span font-weight="700" font-size="14px">MetaMask</span>
          </div>
        </button>
        <button class="coinbase_Logo">
          <div>
            <img alt="" height="30px" src="../../../assets/images/bitkeepicon.png" size="24" />
          </div>
          <div>
            <span font-weight="700" font-size="14px">BitKeep</span>
          </div>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>