
.cards_container_all {
  display: flex;
  padding-left: 4rem;
}

.mdc-card_actions {
  display: flex;
  flex-direction: column;
  
}
.matt-card-container {
 padding-left: 12rem;
}

.matt-card-container2 {

}
.coinbase_Logo {
  display: flex;
}

h1 {
  margin-top: 2rem;
  font-family: "garamond,serif";
  font-size: 3rem;
  display: flex;
  justify-content: center;

}
.payment-card {
 
  padding-bottom: 10rem;
  padding-right: 5rem;
     max-width: 500px;
    margin: 5rem;
    background-color: rgb(237, 225, 225);
    border-radius: 1rem;
    border-left: 5px solid rgb(56, 68, 77);
    border-right: 5px solid rgb(56, 68, 77);
}

.example-card2 {
  margin: 5rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  border-left: 5px solid rgb(56, 68, 77);
  border-right: 5px solid rgb(56, 68, 77);
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.button-container {
  display: flex;
  align-items: flex-start;
}

.container-Currency {
  display: flex;
  flex-wrap: wrap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Source Sans 3", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

mat-icon,
span {
  display: inline-block;
}

label,
img {
  display: block;
}

input {
  font: inherit;
  width: 100%;
  border: none;
}

input:focus {
  outline: 2px solid purple;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 3rem;
  font-weight: 2rem;
  color: #934683;
  border-bottom: 1px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.heading mat-icon {
  font-size: 40px;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

.checkout {
  width: 70%;
  padding: 40px;
  background: #ffead0;
  border-right: 1px solid;
}

.section-heading {
  color: #113537;
  margin-bottom: 30px;
  font-size: 1rem;
  font-weight: 1px;
}

.payment-form {
  margin-bottom: 40px;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.payment-method .method {
  border: 1px solid;
  border-radius: 2;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
}

.payment-method .selected {
  border-color: #83a0a0;
}

.payment-method .method {
  font-size: 20px;
}

.payment-method .method .checkmark {
  margin-left: auto;
  color: #bca0bc;
}

.payment-method .method .fill {
  color: #e0e2db;
}

.label-default {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--spanish-gray);
}

.input-default {
  background: var(--platinum);
  border-radius: var(--radius);
  color: var(--davys-gray);
}

.payment-form input {
  padding: 10px 15px;
  font-size: var(--fs-18);
  font-weight: var(--fw-5);
}

.cardholder-name,
.card-number {
  margin-bottom: 20px;
}

.card-number input,
.cvv input {
  letter-spacing: 3px;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-flex .expire-date,
.input-flex .cvv {
  width: 50%;
}

.expire-date .input-flex {
  color: var(--spanish-gray);
  gap: 13px;
}

.expire-date .input-flex input {
  text-align: center;
}

.btn {
  border-radius: var(--radius);
}

.btn:active {
  transform: scale(0.99);
}

.btn:focus {
  color: var(--white);
  background: var(--azure);
  outline: 2px solid var(--azure);
  outline-offset: 2px;
}

.btn-primary {
  background: var(--azure);
  font-weight: var(--fw-5);
  color: var(--white);
  padding: 13px 45px;
}

.btn-primary b {
  margin-right: 10px;
}

/**
   * cart section style
   */

.cart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-item-box {
  padding: 40px var(--px);
  margin-bottom: auto;
}

.product-card:not(:last-child) {
  margin-bottom: 20px;
}

.product-card .card {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.card .product-img {
  border-radius: 1rem;
}

.card .detail .product-name {
  font-weight: 2rem;
  font-size: 1rem;
  color: teal;
  margin-bottom: 10px;
}

.card .detail .wrapper {
  display: flex;
  gap: 20px;
}

.product-qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-qty button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-qty button:active,
.product-close-btn:active mat-icon {
  transform: scale(0.95);
}

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.product-close-btn ion-icon {
  font-size: 25px;
  color: teal;
}

.product-close-btn:hover ion-icon {
  color: red;
}

.discount-token {
  padding: 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.wrapper-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  font-weight: 1rem;
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid var(--azure);
  color: blue;
}

.btn-outline:hover {
  background: red;
  color: white;
}

.amount {
  padding: 40px;
}

.amount > div {
  display: flex;
  justify-content: space-between;
}

.amount > div:not(:last-child) {
  margin-bottom: 10px;
}

.amount .total {
  font-size: var(--fs-18);
  font-weight: var(--fw-7);
  color: var(--onyx);
}

@media (max-width: 1200px) {
  .item-flex {
    flex-direction: column-reverse;
  }

  .checkout {
    width: 100%;
    border-right: none;
  }

  .btn-primary {
    width: 100%;
  }

  .cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid var(--gainsboro);
  }

  .cart .wrapper {
    margin-top: auto;
  }

  .cart .cart-item-box {
    border-right: 1px solid var(--gainsboro);
    margin-bottom: 0;
  }

  .discount-token {
    border-top: none;
  }
}

@media (max-width: 768px) {
  :root {
    --px: 40px;
  }

  .cart {
    grid-template-columns: 1fr;
  }

  .discount-token {
    border-top: 1px solid var(--gainsboro);
  }

  .wrapper-flex {
    gap: 20px;
  }
}

@media (max-width: 567px) {
  :root {
    --px: 20px;
  }

  .payment-method,
  .input-flex {
    flex-direction: column;
    gap: 20px;
  }

  .payment-method .method {
    width: 100%;
  }

  .input-flex .expire-date,
  .input-flex .cvv {
    width: 100%;
  }

  .expire-date .input-flex {
    flex-direction: row;
  }
}
