.cards_container_all {
  display: flex;
  flex-direction: row;
  padding-left: 25rem;
  padding-right: 4rem;
  padding-top: 1rem;
}

.mdc-card_actions {
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  padding: 2em;
}

.matt-card-container {
  padding: 3.9em;
  margin: -9.6em;
  align-content: center;
}

.coinbase_Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  justify-content: space-between;
  background-color: white;
}

.payment-card {
  padding-bottom: 5rem;
  padding-right: 20rem;
  max-width: 700px;
  margin: 5rem;
}

.amount {
  padding: 100px;
}

.amount > div {
  display: flex;
  justify-content: space-between;
}

.amount > div:not(:last-child) {
  margin-bottom: 10px;
}
.button {
  cursor: pointer;
}

h1 {
  margin-top: 2rem;
  font-family: "garamond,serif";
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
