@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.cards_container {
  display: flex;
  flex-direction: row;
  padding-left: 25rem;
  padding-right: 4rem;
  padding-top: 1rem;
  height: 100vh;
}

.mdc-card_actions {
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  padding: 2em;
}

.matt-card-container {
  padding: 3.9em;
  margin: -9.6em;
  align-content: center;
}

.matt-card-container2 {
  margin-right: 5rem
}

.coinbase_Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  justify-content: space-between;
  background-color: white;
}

.payment-card {
  padding-bottom: 5rem;
  padding-right: 20rem;
  max-width: 700px;
  margin: 5rem;
  width: 26em;
}

.payment-card-header {
  width: 13em;
}

.button {
  cursor: pointer;
}

h1 {
  margin-top: 2rem;
  font-family: "garamond,serif";
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.product-card {
  display: flex;
  align-items: center;

}

.backShop_Button{
  position:relative;
  left:80px;
  bottom: 50px;
  padding-left:1rem;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid gold;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;

}

.btn:hover {
  transition: 1s ease-in-out;
  background: #ADC698;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.remove_btn {
  margin-right: 3rem;
  border: none;
  color: red;
  background-color: white;
  margin-bottom: 5rem;
}

.order_Total{
  font-size: 19px;
  padding-top: 2em;
  font-weight: 500;
}

.totalAmount {
  margin-top:1rem;
}






